
/* SITE.js */
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* propriété qui assure que le contenu s'étire sur toute la hauteur de la fenêtre. */
  flex: 1; /* Cela permet au contenu principal de prendre l'espace restant. Aide au footer de rester à sa place */
}
 

footer {
  padding: 20px; /* Espacement interne du footer */
  width: 100%;
}



/* SEARCH FILTER */
.slider-container {
display: flex;
align-items: center;
}

input[type="range"] {
width: 150px;
margin: 0 10px;
}

span {
font-size: 14px;
}

.search-filters {
margin: 20px; /* Ajout de la marge autour de la section des filtres */
}

.filter-row {
margin-bottom: 10px; /* Ajout de l'espace entre chaque filtre */
}

.checkbox-filter label {
margin-right: 10px; /* Ajout de l'espace entre les cases à cocher */
}

.filter-row {
  width: 25vw;
  margin-left: 2rem;
}
/* END SEARCH FILTER */

/* VEHICULE CARD*/
.vehicule-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Cinq colonnes égales de 5 cartes par ligne et par largeur */
  grid-gap: 20px; /* Espacement entre les cartes */
  width: 100%; /* Pour occuper toute la largeur de la page */
}


.card-img-top {
  width: 100%; /* Largeur de l'image */
  height: auto; /* Hauteur souhaitée de l'image */
  object-fit: cover; /* Pour ajuster l'image sans déformation */
}



/* END VEHICULE CARD*/

/* PAGINATION*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* END PAGINATION*/

/* CAROUSSEL */
.caroussel-container {
  max-height: 50vh; /* Réduit la hauteur à 50% de la hauteur de la fenêtre */
  overflow: hidden; /* Masque le contenu dépassant de la hauteur maximale */
}

.carousel {
  height: 100%; /* Force le carrousel à remplir la hauteur du conteneur */
}

.caroussel-container {
  max-height: 60vh; /* Réduit la hauteur à 50% de la hauteur de la fenêtre */
  overflow: hidden; /* Masque le contenu dépassant de la hauteur maximale */
}


.carousel-image {
  width: 100%; /* Largeur souhaitée,  100% pour remplir la largeur du conteneur */
  height: auto; /* Hauteur automatique pour maintenir les proportions de l'image */
}
/* END CAROUSSEL */

/* COMPOSANT BannerWidh100*/
.banner-image {
  width: 100%; 
  max-height: 450px; 
}
/* FIN COMPOSANT BannerWidh100 */

/* COMPOSANT ETOILE */
 
/* Définition des variables personnalisées pour les images embarquées */
[class*="five-rate-"] {
  display: inline-flex;
}

[class*="rate-value"] {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  position: relative;
}

[class*="rate-value"]:before {
  content: '\A0';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}

[class*="rate-value-half"]:before {
  background-color: orange;
}

[class*="rate-value-full"]:before {
  background-color: orange;
}

/* Styles pour la taille des étoiles (si nécessaire) */
[class*="five-rate-"].larger [class*="rate-value"] {
  width: 2.5rem;
  height: 2.5rem;
}

[class*="five-rate-"].smaller [class*="rate-value"] {
  width: 1.5rem;
  height: 1.5rem;
}

/* Styles pour les étoiles actives au survol */
.five-rate-active:focus-within button:before {
  background-color: rgb(93, 63, 224);
}

/* Styles pour les étoiles inactives */
.five-rate-inactive * {
  cursor: default !important;
}



/* FIN COMPOSANT ETOILE */