/* SITE */
.site {
    min-height:100vh;
    margin-bottom: -540px; /* position du footer; */
}


/* FOOTER */
footer, .minsite{
    height: 540px;
}

.img-icon {
    width: 40px; 
    margin: 0 10px; 
  }

  .logo-container {
    margin-top: -90px; 
  }

  .adresse {
    margin-top: 20px; 
  }f
  