
/* SITE */
.site {
    min-height:100vh;
    margin-bottom: -540px; /* position du footer; */
}


/* FOOTER */
footer, .minsite{
    height: 540px;
}

.img-icon {
    width: 40px; 
    margin: 0 10px; 
  }

  .logo-container {
    margin-top: -90px; 
  }

  .adressFooter {
   margin-top: -90px; 
  }
  


.site{
    min-height: 100vh;
    margin-bottom: -140px;
}

footer, .minsite{
     height: 140px; /*Pour corriger les bug lié au footer et de sa position ds la fenêtre */
}

/* END FOOTER */

/* SEARCH FILTER */
.slider-container {
  display: flex;
  align-items: center;
}

input[type="range"] {
  width: 150px;
  margin: 0 10px;
}

span {
  font-size: 14px;
}

/* SearchFilters.css */

.search-filters {
  margin: 20px; /* Ajoute de la marge autour de la section des filtres */
}

.filter-row {
  margin-bottom: 10px; /* Ajoute de l'espace entre chaque filtre */
}

.checkbox-filter label {
  margin-right: 10px; /* Ajoute de l'espace entre les cases à cocher */
}

/* END SEARCH FILTER */

/* Styles pour les cartes */
.card {
  width: 100%;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  max-height: 200px; /* Ajustez la hauteur de l'image comme vous le souhaitez */
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
}

.card-subtitle {
  font-size: 1rem;
  color: #777;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Styles pour la grille */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px; /* Ajustez la marge en conséquence */
}

.col-md-4 {
  flex: 0 0 calc(25% - 30px); /* 25% pour afficher 4 cartes par ligne */
  margin: 15px; /* Espace entre les cartes */
  box-sizing: border-box;
}
/* END Styles pour les cartes */